<section class="main">
  <div class="container">
    <div class="left__block">
      <div class="image__logo">
        <img src="assets/img/logotype.png" alt="Логотип компании ДЕЗИНТЕКС">
      </div>
      <!-- Если нужен другой заголовок для СЕО, тогда h1 заменяю на обычный div -->
      <h1 class="main__title">100% защита дома от вирусов<br> и микробов</h1>
      <div class="checking__block">
        <div class="check__item">
          <div>
            <svg class="tick__img">
              <use xlink:href="#tick"></use>
            </svg>
          </div>
          <div class="tick__text">Убивает все известные вирусы и микробы </div>
        </div>
        <div class="check__item">
          <div>
            <svg class="tick__img">
              <use xlink:href="#tick"></use>
            </svg>
          </div>
          <div class="tick__text">Защищает поверхности от микробов 48 часов</div>
        </div>
        <div class="check__item">
          <div>
            <svg class="tick__img">
              <use xlink:href="#tick"></use>
            </svg>
          </div>
          <div class="tick__text">Подходит для любых поверхностей</div>
        </div>
      </div><!-- ./checking__block -->
      <div class="vial__img">
        <img src="assets/img/vial.png" alt="Изображения флакона ДЕЗИНТЕКС">
      </div>
    </div><!-- ./left__block -->

    <div class="right__block">
      <div class="block__form">
        <div class="form__title">Специальное предложение!</div>
        <div class="form__subtitle">Специальная цена<br> <span>149&#8381;</span><sup>&#10059;</sup></div>
        <form action="#" method="POST" id="form">
          <select name="">
            <option value="1">Россия</option>
            <option value="2">Бразилия</option>
          </select>
          <div><input class="name__input" type="text" placeholder="Имя"></div>
          <div><input class="phone__input" type="text" placeholder="Телефон"></div>
          <input class="input__btn" type="button" value="заказать">
        </form>
        <div class="form__title--notice">
          <sup>&#10059;</sup>при заказе набора
        </div>
      </div>
    </div><!-- ./right__block -->
  </div><!-- ./container -->
</section><!-- ./main -->