/* ============================================Размер экранов==================================================== */
$maxWidth: 1920;
$md1: 1750;
$md2: 1150;
$md3: 1032;
$md4: 574;

/* === === === Colors === === === */

$grass: #118976;
$gray: #333333;
$red__text: #ff2c2c;
$red__btn: #ff272b;
$notice__gray: #828282;
$input__border--color: #089c84;
$white: #ffffff;
